<header>
  <div class="left">
    <h1 [innerHTML]="mainTitle"></h1>
    <h2>{{ mainProgression$ | async }}&nbsp;: <span [innerHTML]="chapterTitle$ | async"></span></h2>
  </div>
  <div class="right">
    <span *ngFor="let logo of logos">
      <img [src]="logo" alt="some logo" />
    </span>
  </div>
</header>

<main [@routeAnimations]="prepareRoute(outlet)">
  <div class="progress">
    <div class="advancement" [style.height.%]="chapterProgression$ | async"></div>
  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<footer>
  <span class="author" [innerHTML]="author"></span>
  (<a class="email" [href]="'mailto:' + email" [innerHTML]="email"></a>)
</footer>
