:host {
  display: block;
  width: 100vw;
  height: 100vh;

  --header-height: 80px;
  --footer-height: 44px;
}

header {
  height: var(--header-height);
  border-bottom: 2px solid var(--primary-darkest);
}
main {
  height: calc(100vh - var(--footer-height) - var(--header-height));
  overflow: hidden;
}
footer {
  height: var(--footer-height);
  border-top: 2px solid var(--primary-darkest);
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header,
footer {
  padding: 10px 20px;
  background: var(--primary);

  &,
  & > * {
    color: var(--light);
  }
}
