:host {
  display: block;
  width: 100vw;
  height: 100vh;

  --header-height: 95px;
  --footer-height: 35px;
}

header {
  position: relative;
  display: flex;
  height: var(--header-height);
  padding: 10px 20px;

  .left {
    flex-grow: 1;
  }

  h1 {
    font-size: 1em;
    opacity: 0.7;
    font-weight: normal;
  }

  .right {
    display: flex;

    & > * {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  img {
    max-width: 70px;
    max-height: 70px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 40vw;
    border-bottom: 4px solid var(--primary);
  }
}
main {
  position: relative;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  overflow: hidden;

  .progress {
    position: absolute;
    top: 15px;
    left: 15px;
    height: calc(100% - 30px);
    width: 4px;
    background-color: var(--grey);

    .advancement {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      background-color: var(--primary);
      transition: 1s;
    }
  }
}
footer {
  height: var(--footer-height);
  padding: 5px 20px;
  border-top: 2px solid var(--primary);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header,
footer {
  color: var(--primary);
  font-family: 'Open Sans', arial, sans-serif;

  a {
    color: var(--primary);
  }
}
