:host {
  display: block;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  padding: 20px 20px 20px 34px;
  overflow-y: auto;
}

markdown {
  display: block;
  max-width: 800px;
  padding-bottom: 150px;
  margin: 0 auto;
  font-size: 20px;
}

markdown ::ng-deep {
  font-family: 'Roboto', arial, sans-serif;

  :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
    margin: 20px 0 10px;
    font-family: 'Open Sans', arial, sans-serif;
  }
  a {
    color: var(--primary);
  }

  ul,
  ol {
    li {
      margin: 0 20px;
    }
  }

  > ul,
  > ol,
  > table,
  > pre,
  > p {
    margin: 15px 0;
  }

  img {
    display: block;
    padding-top: 20px;
    margin: auto;
    max-width: 500px;

    & + em {
      display: block;
      max-width: 500px;
      margin: auto;
      text-align: center;
    }
  }

  p code,
  ol code,
  ul code {
    color: var(--primary);
    background-color: var(--grey-light);
    padding: 0 5px;
  }

  table {
    border-collapse: collapse;
    td,
    th {
      border: 1px solid black;
      padding: 5px 10px;
    }
  }

  blockquote {
    padding: 10px 10px 10px 20px;
    background-color: var(--grey-lighter);
    border-left: 2px solid var(--primary);
  }
}
