:host {
  display: block;
  width: 100vw;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  padding: 40px 20px;
  overflow-y: auto;
}

markdown {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
}

markdown ::ng-deep {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-darkest);
    margin: 20px 0 10px;
  }

  ul,
  ol {
    li {
      margin: 0 20px;
    }
  }
}
