:host {
  display: block;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  padding: 20px 20px 20px 34px;
  overflow-y: auto;
}

markdown {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;

  &::ng-deep:first-child {
    margin-top: 0;
  }
}

markdown ::ng-deep {
  font-family: "Roboto", arial, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
    margin: 20px 0 10px;
    font-family: "Open Sans", arial, sans-serif;
  }
  a {
    color: var(--primary);
  }

  ul,
  ol {
    li {
      margin: 0 20px;
    }
  }
}
