/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light: #f7f7f7;
  --grey-light: #ddd;
  --grey-lighter: #eee;
  --grey: #adadad;
  --dark: #34474f;
  --primary: #d6002f;
  --primary-dark: #bd002e;
  --primary-darkest: #800020;
}

html {
  background-color: var(--light);
}

@import './styles/shared/fonts';
@import './styles/shared/base';
