@use './styles/shared/fonts';
@use './styles/shared/base';

@use './styles/shared/modules/code-area';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light: #f7f7f7;
  --grey-light: #ddd;
  --grey-lighter: #eee;
  --grey: #adadad;
  --dark: #34474f;
  --primary-light: #ff6687;
  --primary: #d6002f;
  --primary-dark: #bd002e;
  --primary-darkest: #800020;
}

html {
  background-color: var(--light);
}
